{% extends "base.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css"/>
{% endblock %}

{% block main %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}                    
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>

{% endblock %}