{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="container">
    <h1>Dashboard</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Parameters</th>
          <th>Value</th>
          <th>Notice</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>Temperature</td>
            <td id="temp_value"> {{ param.temp }}</td>
            <td id="temp_notice">The value is fine</td>
        </tr>
        <tr>
            <td>pH</td>
            <td id="pH_value">{{ param.ph }}</td>
            <td id="pH_notice">The value is fine</td>
        </tr>
        <tr>
            <td>Salinity</td>
            <td id="salinity_value">{{ param.salinity }}</td>
            <td id="salinity_notice">The value is fine</td>
        </tr>
        <tr>
            <td>Alkalinity</td>
            <td id="alkalinity_value">{{ param.alkalinity }}</td>
            <td id="alkalinity_notice">The value is fine</td>
        </tr>
        <tr>
            <td>Oxygen</td>
            <td id="oxygen_value">{{ param.oxygen }}</td>
            <td id="oxygen_notice">The value is fine</td>
        </tr>
        <tr>
            <td>Hydrogen_sulfide</td>
            <td id="hydrogen_sulfide_value">{{ param.hydrogen_sulfide }}</td>
            <td id="hydrogen_sulfide_notice">The value is fine</td>
        </tr>
        <tr>
            <td>Amonia</td>
            <td id="amonia_value">{{ param.amonia }}</td>
            <td id="amonia_notice">The value is fine</td>
        </tr>
        <tr>
            <td>Nitrit</td>
            <td id="nitrit_value">{{ param.nitrit }}</td>
            <td id="nitrit_notice">The value is fine</td>
        </tr>
      </tbody>
    </table>
</div>
<div class="container">
    <h1 class="p-3">
        Quality
    </h1>
    <div class="row">
        <div class="col-md-12">
            <h3 class="progress-title">Overall</h3>
            <div class="progress red">
                <div class="progress-bar progress-bar-danger progress-bar-striped active" style="width:65%;" id="quality-bar">
                    <div class="progress-value" id="quality-value">65%</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let CurrentUser = '{{ request.user.username }}';
</script>
<script src="{% static 'js/app.js' %}"></script>   
{% endblock %}
